.myButton,
.myButtonActive{
  width: 90%;
  height: 50px;

  display: inline-block;

  appearance: button;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,rgb(0, 0, 0) 4px 4px 0 1px;
  box-sizing: border-box;
  cursor: pointer;


  font-size: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;

  user-select: none;
  -webkit-user-select: none;

  vertical-align: middle;
}

.myButton {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.myButtonActive {
  background-color: #cc54ab;
  color: rgb(0, 0, 0);
}

.navButtonBack{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 20px;  

  border: 2px solid rgb(199, 199, 199);
  background-color: #ffffff;
  color: rgb(0, 0, 0);

  margin-right: 20px;
  width: 120px;

  text-decoration: none;
}

.myButton:focus,
.myButtonActive:focus {
  text-decoration: none;
}

.myButton:hover,
.myButtonActive:hover  {
  text-decoration: none;
}

.myButton:active,
.myButtonActive:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.myButton:not([disabled]):active,
.myButtonActive:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

 
