.myButton {
  width: 90%;
  height: 50px;

  border: none;
  color: #ffffff;

  display: inline-block;
  font-size: 20px;

  margin-bottom: 20px;
  cursor: pointer;
  background-color: rgb(34, 34, 34);

  transition: all 0.3s ease-in-out;
}

.myButton:focus {
  outline: none;
}

.myButton:hover {
  background-color: rgb(53, 53, 53);
}

.myButton:disabled,
.myButton:disabled:hover,
.myButton[disabled],
.myButton[disabled]:hover {
  border: none;
  background-color: #c695ee;
  color: #666666;
}