.Header {
  width: 100%;
  height: 65px;

  background-color: #000000;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999px;
}

.header_button {
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;

  padding: 10px;
  margin: 10px 70px 10px 70px;

  outline: none;
}

#buttonSignIn,
#buttonSignOut {
  border-radius: 20px;
}

.header_button:hover {
  color: #dc65de;
}

#buttonSignIn:hover,
#buttonSignOut:hover {
  color: greenyellow;
}