:root {
  --active-color: greenyellow;
}

.Header {
  width: 100%;
  height: calc(2.5 * var(--index));

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  background-color: black;
}

.header_button,
.buttons_nav,
.linkCart {
  text-decoration: none;
  font-size: calc(1.5 * var(--index));
  margin-left: calc(0.5 * var(--index));
  margin-right: calc(0.5 * var(--index));
}

.header_button,
.buttons_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  flex-wrap: nowrap;
}

#buttonSignIn,
#buttonSignOut {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  padding-left: 10px;
  padding-right: 10px;

  border-radius: 100px;
  border: 2px solid white;

  white-space: nowrap;
}

.linkCart {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(2 * var(--index));
  width: calc(2 * var(--index));

  color: black;
  background-color: white;
  border-radius: 100%;
}

/* actions */

#buttonSignIn:hover,
#buttonSignIn.active,
#buttonSignOut:hover,
#buttonSignOut.active {
  border: 2px solid var(--active-color);
}

.header_button:hover,
.header_button.active {
  color: var(--active-color);
}

.linkCart:hover,
.linkCart.active {
  background-color: var(--active-color);
}

@media screen and (max-width: 1200px) {
  .Header {
    width: 100%;
  }

  .header_button,
  .buttons_nav,
  #buttonSignIn,
  #buttonSignOut {
    font-size: 15px;
  }

  #buttonSignIn,
  #buttonSignOut {
    height: 40px;
  }

  .Header {
    height: 70px;
  }

  .linkCart {
    font-size: 25px;
    height: 40px;
    width: 40px;
  }
}
