.aboutProfile * {
  color: #232323;
}

.aboutProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 70%;
  padding: 4%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 65px;
}

.UserInfo {
  display: flex;
  flex-direction: column;

  margin: var(--index);
}

.imgProfile {
  font-size: calc( 10 * var(--index));
}

@media screen and (max-width: 1200px) {
  .aboutProfile {
    font-size: 12px;
      width: 100%;
      flex-direction: column;
    }
  .UserInfo {
   align-items: center;
  }
}
