.aboutProfile * {
  color: #232323;
}

.aboutProfile {
  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: center;

  width: 100%;
  padding: 4%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 65px;
}

.UserInfo {
  display: flex;
  flex-direction: column;

  margin: 50px;
}

.imgProfile {
  font-size: 250px;
}

.Profile {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.NewPost {
  display: flex;
  flex-direction: column;

  background-color: #ae7cd8;
  padding: 30px;
  border-radius: 20px;
}

.publish {
  display: flex;

  float: right;

  width: 100%;
}
